{% extends 'Blog/App.html' %}

{% block Header %}
    <style>
        .content {
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        p {
            padding-bottom: 1em;
            font-size: 1.2em;
            color: black;
            text-align: left;
            width: 60%;
            margin: 0 auto;
        }

        .login {
            padding: 5px 30px;
            border: 1px solid #00da84;
            background-color: #00da84;
            text-decoration: none;
            font-size: 1em;
            color: white;
        }

    </style>
{% endblock %}

{% block Content %}
    <div class="content">
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you
            entered.
            You should receive them shortly.
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
        <a class="login" href="{% url 'Blog:login' %}">Log In</a>
    </div>
{% endblock %}