{% load static %}
<a class="articleLink" href="{% url 'Blog:Article_Detail' article.slug %}">
    <div class="sn-art">
        <div class="sn-img">
            {% include 'Blog/Include/ArticlePhoto.html' %}
        </div>
        <div class="sn-art-tl">
            <p class="art-title">{{ article.Title }}</p>
            {% if article.read < '1' %}
                <p class="read_time">less than 1 minutes</p>
            {% elif article.read >= '1' %}
                <p class="read_time">{{ article.read }} minutes</p>
            {% elif article.read >= '10' %}
                <p class="read_time">10 minutes</p>
            {% else %}
                <p></p>
            {% endif %}
        </div>
        {% if article.latest %}
            <p class="ar-label">! New !</p>
        {% else %}
        {% endif %}
    </div>
</a>