{% load static %}
<a href="{% url 'Blog:Article_Detail' article.slug %}">
    <div class="sn-art">
        <div class="sn-img">
            {% if article.tag == 'javascript' or  article.tag == 'Es6' %}
                <img src="{% static 'Images/jstr.png' %}" alt="Js icon">
            {% elif article.tag == 'vue js' %}
                <img src="{% static 'Images/vue.png' %}" alt="Js icon">
            {% elif article.tag == 'Python' %}
                <img src="{% static 'Images/python.jpg' %}" alt="python icon">
            {% elif article.tag == 'Express js' %}
                <img src="{% static 'Images/expressjslogo.png' %}" alt="Js icon">
            {% elif article.tag == 'node js' %}
                <img src="{% static 'Images/nodejs.svg' %}" alt="node js icon">
            {% elif article.tag == 'Flutter' %}
                <img src="{% static 'Images/flutter2.png' %}" alt="Flutter icon">
            {% elif article.tag == 'Laravel' %}
                <img src="{% static 'Images/Laravel.png' %}" alt="Laravel icon">
            {% elif article.tag == 'Django' %}
                <img src="{% static 'Images/dj.png' %}" alt="Django icon">
            {% else %}
            {% endif %}
        </div>
        <div class="sn-art-tl">
            <p class="art-title">{{ article.Title }}</p>
            {% if article.read < '1' %}
                <p class="read_time">less than 1 minutes</p>
            {% elif article.read >= '1' %}
                <p class="read_time">{{ article.read }} minutes</p>
            {% elif article.read >= '10' %}
                <p class="read_time">10 minutes</p>
            {% else %}
                <p></p>
            {% endif %}
        </div>
        {% if article %}
            <p class="ar-label">! New !</p>
        {% endif %}
    </div>
</a>