.content {
  display: block;
}
.content .my-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 30px;
  height: 84vh;
}
.content .my-intro .my-slf {
  width: 100%;
  padding: 160px 10px 10px;
  display: block;
}
.content .my-intro .my-slf h1 {
  font-weight: bold;
  font-size: 2em;
  color: #2a2a2a;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
}
.content .my-intro .my-slf p {
  font-size: 1.2em;
  color: #474747;
  font-weight: 300;
  text-align: left;
  width: 100%;
  line-height: 2;
  padding-bottom: 50px;
}
.content .my-intro .my-slf .git-hub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.content .my-intro .my-slf .git-hub .git-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgba(19, 18, 18, 0.116);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  padding: 0 10px;
  transition: box-shadow ease-in 250ms;
}
.content .my-intro .my-slf .git-hub .git-name:hover {
  background-color: #eff3f6;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.content .my-intro .my-slf .git-hub .git-name img {
  width: 31px;
  height: 100%;
  padding: 4px;
}
.content .my-intro .my-slf .git-hub .git-name span {
  font-size: 1em;
  color: #2a2a2a;
  font-weight: 300;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}
.content .my-intro .sub-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 90px;
}
.content .my-intro .sub-to .email-form {
  border: 1px solid #00da84;
  padding: 90px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  background-color: #00da84;
  box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100, 110, 140, 0.4);
}
.content .my-intro .sub-to .email-form .my-img img {
  width: 100px;
  height: 80%;
}
.content .my-intro .sub-to .email-form h2 {
  font-weight: bold;
  font-size: 1.5em;
  color: #2a2a2a;
  text-transform: capitalize;
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}
.content .my-intro .sub-to .email-form p {
  color: #2a2a2a;
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.content .my-intro .sub-to .email-form .sub-btn {
  padding: 7px 0;
  width: 90%;
  margin: 0 auto;
  outline: none;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background-color: #00da84;
  cursor: pointer;
}
.content .my-intro .sub-to .email-form .sub-btn:hover {
  border-color: #fff;
}
.content .cly-arc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.content .cly-arc .lts-msp-tl {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.content .cly-arc .lts-msp-tl h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #2a2a2a;
  text-align: left;
  padding-right: 50px;
}
.content .cly-arc .lts-msp-tl a {
  padding: 5px 15px;
  color: #5361ff;
  border: 1px solid rgba(19, 18, 18, 0.116);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: box-shadow ease-in-out 100ms;
}
.content .cly-arc .lts-msp-tl a:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
}
.content .cly-arc .lts-msp-art {
  display: block;
  width: 100%;
}
.content .cly-arc .lts-msp-art .sn-art {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  padding: 4px;
  height: 18vh;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow ease-in 250ms;
  background-color: transparent;
  border: 1px solid rgba(19, 18, 18, 0.116);
}
.content .cly-arc .lts-msp-art .sn-art:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content .cly-arc .lts-msp-art .sn-art .ar-label {
  position: absolute;
  z-index: 10;
  color: #fff;
  background-color: #00d97f;
  border-radius: 5px;
  padding: 5px 1.2em;
  right: 17%;
}
.content .cly-arc .lts-msp-art .sn-art .sn-img {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .cly-arc .lts-msp-art .sn-art .sn-img img {
  width: 50px;
  height: 100%;
}
.content .cly-arc .lts-msp-art .sn-art .sn-art-tl {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.content .cly-arc .lts-msp-art .sn-art .sn-art-tl .art-title {
  font-size: 1.2em;
  color: #2a2a2a;
  font-weight: 400;
  padding-bottom: 10px;
}
.content .cly-arc .lts-msp-art .sn-art .sn-art-tl .read_time {
  font-size: 0.9em;
  color: #2a2a2a;
  font-weight: normal;
  padding: 0;
  text-align: left;
}
.content .education-M {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.content .education-M h3 {
  font-size: 1.2em;
  color: #2a2a2a;
  padding: 10px 0;
  text-align: left;
}
.content .education-M .edu-c ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.content .education-M .edu-c ul li {
  padding: 10px 15px;
  border: 1px solid #d5d5d5;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  margin: 0 5px;
  box-shadow: none;
}
.content .education-M .edu-c ul li:hover {
  box-shadow: 0.2rem 0.1rem 0.2rem 0 rgba(100, 110, 140, 0.4);
  border-color: #00cb74;
}
.content .education-M .edu-c ul li a {
  font-size: 1em;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  color: #2a2a2a;
}

@media only screen and (max-width: 1243px) {
  .content .my-intro .sub-to .email-form p {
    font-size: 1em;
  }

  .content .my-intro .sub-to .email-form h2 {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 1090px) {
  .content .my-intro .my-slf p {
    font-size: 1em;
  }

  .content .my-intro .my-slf p {
    font-size: 1em;
  }

  .content .my-intro .sub-to .email-form {
    width: 80%;
  }

  main {
    width: 80%;
  }
}
@media only screen and (max-width: 915px) {
  main {
    width: 90%;
  }
}
@media only screen and (max-width: 830px) {
  .content .cly-arc .lts-msp-art .sn-art .sn-art-tl p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 810px) {
  .content .my-intro .my-slf .git-hub .git-name span {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 800px) {
  .content .my-intro {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    width: 100%;
    padding-bottom: 30px;
    height: unset;
  }

  .content .my-intro .my-slf {
    width: 100%;
    padding: 90px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content .my-intro .my-slf h1 {
    font-weight: bold;
    font-size: 2em;
    color: #2a2a2a;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }

  .content .my-intro .my-slf p {
    width: 60%;
  }

  .content .my-intro .my-slf .git-hub {
    justify-content: center;
    align-items: center;
  }

  .content .my-intro .sub-to {
    padding-top: 30px;
  }

  .content .my-intro .sub-to .email-form {
    width: 50%;
  }

  .content .my-intro .my-slf p {
    width: 55%;
  }

  .content .cly-arc .lts-msp-art .sn-art .sn-art-tl article {
    width: 55%;
  }
}
@media only screen and (max-width: 637px) {
  .content .my-intro .sub-to .email-form {
    width: 55%;
  }

  .content .education-M .edu-c ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content .education-M .edu-c ul li {
    margin: 5px 0;
  }
}
@media only screen and (max-width: 630px) {
  .content .my-intro .my-slf p {
    width: 65%;
  }
}
@media only screen and (max-width: 550px) {
  .content .my-intro .my-slf p {
    width: 70%;
  }

  .content .my-intro .sub-to .email-form {
    width: 65%;
  }

  .content .cly-arc .lts-msp-art .sn-art .sn-img {
    width: 20%;
  }
}

/*# sourceMappingURL=Index.css.map */
