{% extends 'Blog/App.html' %}
{% block Header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Index.css' %}">
{% endblock %}
{% block Content %}
    <div class="content">
        <div class="my-intro">
            <div class="my-slf">
                <h1>✋ Hey, I'm Joseph Gitau.</h1>
                <p>
                    I'm a full stack software developer. I write about Python,
                    Vue js, Express js, modern JavaScript, Django,Golang, Flutter or Dart and Dotnet Core Framework, Unity, Blender and Space travel #Kromon
                </p>
                <div class="git-hub">
                    <a target="_blank" href="https://github.com/Hibryd" style='text-decoration:none;'>
                        <div class="git-name">
                            <img src="{% static 'Images/github.svg' %}" alt="github icon">
                            <span>Joseph Gitau</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="sub-to">
                <div class="email-form">
                    <div class="my-img">
                        <img src="{% static 'Images/me.jpg' %}" alt="photo">
                    </div>
                    <h2>Email Newsletters</h2>
                    <p>Subscribe today to get email updates when a I post a new article.</p>
                    <a class="sub-btn" href="{% url 'Blog:Subscribe' %}">Subscribe</a>
                </div>
            </div>
        </div>
        <div class="cly-arc">
            <div class="lts-arc">
                <div class="lts-msp-tl">
                    <h3>Latest articles</h3>
                    <a class="v-all" href="{% url 'Blog:Articles' %}">View All</a>
                </div>
                <div class="lts-msp-art">
                    {% for article in articles %}
                        {% include 'Blog/Include/SingleArticle.html' %}
                    {% empty %}
                        {% include 'Blog/Include/ArticleError.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="mst-p-arc">
                <div class="lts-msp-tl" style="margin-top: 30px">
                    <h3>Most popular articles</h3>
                    <a class="v-all" href="{% url 'Blog:Articles' %}">View All</a>
                </div>
                <div class="lts-msp-art">
                    {% for article in articles %}
                        {% include 'Blog/Include/SingleArticle.html' %}
                    {% empty %}
                        {% include 'Blog/Include/ArticleError.html' %}
                    {% endfor %}
                </div>
            </div>
            {% if challenges %}
                {% ifchanged challenges %}
                    <div class="mst-p-arc">
                        <div class="lts-msp-tl" style="margin-top: 30px">
                            <h3>Code Challenges </h3>
                            <a class="v-all" href="{% url 'Blog:Articles' %}">View All</a>
                        </div>
                        <div class="lts-msp-art">
                            {% for article in challenges %}
                                {% include 'Blog/Include/SingleArticle.html' %}
                            {% empty %}
                                {% include 'Blog/Include/ArticleError.html' %}
                            {% endfor %}
                        </div>
                    </div>
                {% endifchanged %}
            {% endif %}
            {% if 100days %}
                {% ifchanged 100days %}
                    <div class="mst-p-arc">
                        <div class="lts-msp-tl" style="margin-top: 30px">
                            <h3>100 Days of code</h3>
                            <a href="{% url 'Blog:Articles' %}">View All</a>
                        </div>
                        <div class="lts-msp-art">
                            {% for article in 100days %}
                                {% include 'Blog/Include/SingleArticle.html' %}
                            {% empty %}
                                {% include 'Blog/Include/ArticleError.html' %}
                            {% endfor %}
                        </div>
                    </div>
                {% endifchanged %}
            {% endif %}
        </div>
        <div class="education-M">
            <h3>Learn coding for free.</h3>
            <div class="edu-c">
                <ul>
                    <li title="Jetbrains Academy"><a target="_blank" href="https://www.jetbrains.com/academy">Jetbrains
                        Academy </a></li>
                    <li title="Solo Learn"><a target="_blank" href="https://www.sololearn.com">Solo Learn </a></li>
                    <li title="W3schools"><a target="_blank" href="https://w3schools.com">W3schools </a></li>
                    <li title="IamGitau"><a href="https://iamgitau.herokuapp.com">IamGitau </a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}
