{% extends 'Blog/App.html' %}

{% block Header %}
    <style>
        .content {
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #id_Email {
            border: medium solid #2a2a2a;
            padding: 5px 100px 5px 5px;
            outline: none;
            border-radius: 5px;
            font-size: 1em;
            color: #2a2a2a;
        }

        #id_Email:focus {
            border-width: thin;
        }
        #sub-sub {
            border: thin solid transparent;
            padding: 5px 30px;
            outline: none;
            border-radius: 5px;
            font-size: 1.2em;
            color: #fff;
            background-color: #00da84;
            margin-top: 10px;
            cursor: pointer;
        }

        #sub-sub:hover {
            border-width: 1px;
            border-color: #00da84;
            color: #2a2a2a;
            transition: background-color ease-in-out 200ms;
            background-color: white;
        }

        .errorlist {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
        }

        .errorlist li {
            list-style: none;
            color: #ff2600;
            font-size: .9em;
        }
    </style>
{% endblock %}

{% block Content %}
    <div class="content">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id="sub-sub" value="Subscribe">
        </form>
    </div>
{% endblock %}