main {
  width: 95%;
}

.content {
  padding: 30px 0;
  //width: 100%;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;

  .show-preview {
    width: 100%;
    border: 1px solid #dcdcdc;
    overflow: auto;

    #preview_title {
      text-align: center;
      font-size: 1.4em;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 0 !important;
    padding: 0 !important;
    align-items: unset !important;

    .top-Form {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: unset !important;
      padding: 20px 0;

      h2 {
        font-size: 1.5em;
        color: #4f5ddf;
        font-weight: bold;
      }

      button {
        border: 1px solid #4f5ddf;
        border-radius: 5px;
        color: #4f5ddf;
        padding: 5px 20px;
        font-weight: bold;
        font-size: 1.1em;
        background-color: white;

        &:hover {
          background-color: #f4f4f4;
        }
      }
    }

    .form {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;


      input[type=text], select {
        border: 1px solid #4f5ddf;
        border-radius: 5px;
        outline: none;
        color: #2a2a2a;
        padding: 5px 0 5px 5px;
        //width: 50%;
        //margin: 5px 0;

        &:focus {
          border-width: medium;
        }
      }

      label {
        color: #2a2a2a;
        font-size: 1em;
        font-weight: bolder;
      }

      textarea {
        border: 1px solid #4f5ddf;
        border-radius: 5px;
        outline: none;
        color: #2a2a2a;
        padding: 10px;

        &:focus {
          border-width: medium;
        }
      }
    }
  }
}