//#4f5ddf
header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1000;
  transition: box-shadow ease-in 150ms;

  & .header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 10px 0;
    height: 100%;
    align-items: center;

    & .logo {
      width: 100%;

      & a {
        font-size: 1.5em;
        font-weight: bolder;
        text-decoration: none;
        color: #00cb74;
        font-style: italic;
      }
    }

    & .cn-rt {
      width: 25%;

      & nav {
        display: flex;
        justify-content: space-between;


        & ul {
          width: 100%;
          display: flex;
          justify-content: space-between;

          & li {
            font-size: 1em;
            text-transform: capitalize;
            list-style: none;
            font-weight: bold;
            letter-spacing: .5px;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 7px 10px;

            &:hover {
              background-color: rgb(252, 252, 252);
              border: 1px solid rgba(19, 18, 18, 0.116);
            }

            & a {
              text-decoration: none;
              color: #505050;

              & span {
                text-transform: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  header .header {
    width: 90%;
  }
  header .header .logo {
    width: 50%;
  }
}